.about-page {
  font-size: 18px;
  line-height: 1.8;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-page h2 {
  color: #020202;
  font-size: 32px;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  color: #0b0b0b;
  padding: 0 15px;
  font-weight: bold;
}


.message {
  margin-top: 10px;
  font-size: 14px;
  color: red;   /* ✅ red text */
  font-weight: bold;
}
